body {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background-color: #849d8f;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 2.2%;
}

.btn {
  display: inline-block;
  padding: 0.5em 0;
  line-height: 1.2em;
  color: #ffffff;
  border-radius: 40px;
  border: 1px solid;
  border-color: transparent;
  text-decoration: none;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

/*------------------------------HEADER---------------------*/

.main-header {
  background-color: #849d8f;
  color: #000000;
  margin-top: 10px;
}

.main-navigation {
  float: left;
  width: 540px;
  font-size: 0;
}

.main-navigation .menu-logo {
  display: inline-block;
  margin-right: 30px;
}

.menu-logo img {
  width: 153px;
  height: 63px;
}

.main-navigation ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  margin-right: 28px;
  padding-top: 22px;
  min-height: 41px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.user-block  {
  position: relative;
  float: right;
}

.user-block ul{
  min-height: 50px;
  padding: 0;
  padding-top: 13px;
  margin-top: 0;
  vertical-align: top;
  font-size: 0;
  list-style: none;
}

.user-block li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.2em;
  background-color: #a5bcb0;
  border-radius: 40px;
  border: #a5bcb0 2px solid;
}

.user-block li:last-child {
  margin-right: 0;
}

.user-block  a {
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
}

.find {
  padding: 0;
  margin: 0;
  width: 32px;
  height: 28px;
  font-size: 0;
  background: #a5bbaf;
}

.icon {
  position: absolute;
  display: inline-block;
}

.find-icon {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 25%;
  top: 25%;
}

.login {
  width: 48px;
  padding-top: 8px;
  padding-left: 44px;
  color: inherit;
  background: #a5bbaf;
}

.enter-icon {
  width: 20px;
  height: 19px;
  top: 6px;
  left: 16px;
}

.cart {
  width: 72px;
  padding-left: 45px;
  padding-top: 8px;
  color: inherit;
  background: #a5bbaf;
}

.cart-icon {
  width: 21px;
  height: 20px;
  top: 6px;
  left: 16px;
}

.info {
  position: absolute;
  right: 0;
  bottom: : -52px;
  min-height: 38px;
  width: 175px;
}

.working-hours {
  float:right;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
}

.phone {
  float:right;
  font-size: 22px;
  font-weight: 900;
  color: #ffffff;
  background-color: #849d8f;
}
/*--------------------------SLIDER PART------------------------------------*/

.slider {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom:
}

.slides {
  border-radius: 100%;
  background: radial-gradient(circle, #cdf3df, #bfe2cf, #a1c0ae, #99b6a7, #849d8f, #849d8f, #849d8f, #849d8f, #849d8f, #849d8f);
}

.slides img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slide1 p{
  position: absolute;
  bottom: 93px;
  left: 50%;
  margin-left: -337px;
  width: 675px;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  color: #ffffff;
}

.slider form {
  position: absolute;
  bottom: 80px;
  width: 88px;
  min-height: 21px;
  font-size: 0;
}

.slider input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.custom-radio:last-child {
  margin-right: 0;
}

input[type="radio"]:checked + label {
  background-color: #ffffff;
}

.order-both-btn {
  position: absolute;
  bottom: 61px;
  left: 50%;
  margin-left: -137px;
  padding: 0px 42px;
  font-size: 31px;
  font-weight: 700;
  line-height: 63px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

/*------------------------------------------------------------------------*/

.promo {
  position: relative;
  z-index: 2;
  top: -10px;
  min-height: 230px;
  margin-bottom: 30px;
}

.promo h2 {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-left: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
}

.promo p {
  margin: 0;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
  color:#ffffff;
}

.offer {
  width: 48.5%;
  border-radius: 15px;
}

.first-offer {
  float: left;
  background: #700120 url("../img/raspberry-background.png") no-repeat center;
}

.second-offer {
  float: right;
  background: #311c13 url("../img/chocolate-background.png") no-repeat center;
}

.start-shopping-btn {
  float: right;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-right: 21px;
  padding: 15px 22px;
  font-size: 18px;
  font-weight: 700;
}

/*-------------------------BEST SELLING BLOCK------------------------------*/
.top-selling ul {
  width: 100%;
  margin-bottom: 41px;
  padding: 0;
  font-size: 0;
}

.hit {
  position: relative;
  z-index: 1;
}

.top-selling li {
  position: relative;
  display: inline-block;
  width: 22.7%;
  margin-right: 3%;
  text-align: center;
  vertical-align: top;
}

.top-selling li:nth-child(4n) {
  margin-right: 0;
}

.top-selling a {
  color: #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.hit::before {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  content: "";
  width: 61px;
  height: 61px;
  background: transparent url("../img/hit-tag.png") no-repeat center;
}

.ice-cream {
  width: 100%;
  margin-bottom: 17px;
  height: auto;
}

.ice-cream img {
  display: block;
  max-height: 100%;
}

.price {
  position: absolute;
  z-index: 2;
  top: 75%;
  left: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 13px;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price-numb {
  font-size: 45px;
}

.description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

/*-------------------------------FEATURES------------------------------------*/

.features {
  min-height: 306px;
  width: 100%;
  margin-bottom: 40px;
  background: #f0e6d3 url("../img/waffle-pattern.jpg") repeat;
  border: transparent solid 1px;
  border-radius: 15px;
}

.feature {
  position: relative;
  width: 46%;
  padding-left: 55px;
  margin-bottom: 26px;
  box-sizing: border-box;
}

.column-left {
  float: left;
  margin-left: 21px;
  margin-right: 3%;
}

.column-right {
  float: right;
  margin-right: 21px;
}

.features p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
}

.feature-title {
  display: inline-block;
  margin-bottom: 27px;
  padding-top: 20px;
  padding-left: 21px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.features .icon {
  position: absolute;
  left: 0px;
  top: -12px;
  width: 47px;
  height: 47px;
  fill: #323232;
}

/*------------------------------------SOCIAL-------------------------------*/

.social-interaction {
  margin-bottom: 40px;
}

.news, .subscribe-wrapper {
  border-radius: 15px;
}

.news {
  float: left;
  width: 45.3%;
  margin-right: 1.9%;
  padding: 26px 2% 85px 1.7%;
  text-align: left;
  background: #fff url("../img/news-background.png") no-repeat center;
  background-size: cover;
  color: #000;
  min-height: 134px;
}

.news p {
  margin: 0;
  color: #666;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 13px;
  max-width: 290px;
}

.news a {
  margin:0;
  color: #333;
  display: table;
  line-height: 1.2em;
  font-size: 24px;
  font-weight: 700;
  max-width: 290px;
}

.news a:hover {
  color: #ffbc9e;
}

.subscribe-wrapper {
  float: right;
  width: 47.8%;
  background: #f8f7f4 url("../img/subscribe_background2.jpg") repeat;
  background-size: 100px 100px;
  padding: 5px 5px 5px 6px;
}

.subscribe {
  border-radius: 15px;
  line-height: 22px;
  padding: 32px 20px 36px;
  text-align: left;
  width: auto;
  background: #f8f7f4 none repeat;
  min-height: 168px;
}

.subscribe p {
  color: #666;
  margin: 0;
  margin-bottom: 38px;
}

.subscribe-form {
  position: relative;
  padding-right: 140px;
  width: auto;
}

.subscribe-form input[type="email"] {
  display: inline-block;
  width: 100%;
  padding-bottom: 13px;
  padding-left: 11px;
  padding-top: 15px;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  color: #000;
  line-height: 24px;
  max-height: 44px;
  outline: medium none;
  vertical-align: middle;
  box-sizing: border-box;
}

.subscribe-btn {
  position: absolute;
  top: -1px;
  right: 0;
  height: 100%;
  font-size: 17px;
  padding: 9px 22px 11px;
  bottom: 20px;
}

/*----------------------------------CONTACTS----------------------------------*/

.contacts {
  position: relative;
  height: 429px;
}

.contacts-info {
  position: absolute;
  top: 65px;
  right: 2.2%;
  width: 271px;
  min-height: 248px;
  padding: 31px 25px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #343434;
  margin-bottom: 9px;
  margin-top: 0;
}

.contacts .order {
  margin-bottom: 12px;
}

.contacts span {
  display: block;
  float: left;
  line-height: 22px;
  background-color: #ffffff;
}

.contacts .phone {
  font-size: 18px;
  font-weight: 700;
  color: #343434;
}

.contacts .working-hours {
  margin-bottom: 26px;
  font-size: 14px;
  font-weight: 400;
  color: #343434;
}

.contacts strong {
  display: block;
  margin-bottom: 23px;
  color: #343434;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.feedback-btn {
  padding: 14px 35px 13px 32px;
}

#YMapsID {
  height:429px;
  width: auto;
}
